*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

@media (min-width: 769px)
{
	.col-1{ width: 8.333333%; }
	.col-2{ width: 16.66%; }
	.col-3{	width: 25%; }
	.col-4{ width: 33.33333333%; }
	.col-5{ width: 41.66%; }
	.col-6{ width: 50%;    }
	.col-7{ width: 58.3%;  }
	.col-8{ width: 66.66%; }
	.col-9{ width: 75%; }
	.col-10{ width: 83.33%; }
	.col-11{ width: 91.66%; }
	.col-12{ width: 100%;   }
}

@media screen and (min-width: 768px){
	.col-1{
		width: calc(8.333333% - 20px);
	}
	.col-2{
		width: calc(16.666666% - 20px);
	}
	.col-4{
		width: calc(33.33% - 20px);
	}
	.col-6{
		width: calc(50% - 20px);
	}
}

.wrapper{
	width:100%;
	max-width:1200px;
	box-sizing: border-box;
}

[class*='col-'] {
	box-sizing: border-box;
	float:left;
	padding: 20px 20px 0 20px;
	/*width:16.66%;*/
}

.content {
	height: 50px;
	border: 1px solid #999;
	background: #eee;
}

 /*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

.row{
	width:100%;
}
